<template>
    <div class="home">
        <sui-container text-align="left">
            <sui-header size="huge">Referential</sui-header>
            <sui-button basic content="Add User" icon="user"/>
            <sui-divider section/>
        </sui-container>
        <referential-card></referential-card>
    </div>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';
import ReferentialCard from '@/components/ReferentialCard.vue';

@Component({
    components: {
        ReferentialCard,
    },
})
export default class Referential extends Vue {
}
</script>
