<template>
    <sui-container text-align="center">
        <div id="users-card">
            <sui-card-group :items-per-row="4">
                <sui-card v-for="user in data.users">
                    <sui-card-content>
                        <sui-card-header>
                            <sui-icon name="user icon"/>
                            {{user.username}}
                        </sui-card-header>
                        <sui-card-meta>{{user.email}}</sui-card-meta>
                    </sui-card-content>
                    <sui-card-content extra>
                        <sui-container text-align="center">
                            <sui-button-group>
                                <sui-button basic positive>Update</sui-button>
                                <sui-button basic negative>Delete</sui-button>
                            </sui-button-group>
                        </sui-container>
                    </sui-card-content>
                </sui-card>
            </sui-card-group>
        </div>
    </sui-container>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';
import {User} from '@/models/User';

interface Data {
    users: User[];
}

@Component
export default class ReferentialCard extends Vue {
    private data: Data = {
        users: [],
    };
    private eventSource: EventSource = new EventSource('/api/users/subscribe');

    constructor() {
        super();
        this.eventSource.addEventListener('message', ({data}: any) => {
            this.data.users = JSON.parse(data);
        }, false);
    }

    public destroyed() {
        this.eventSource.close();
    }

}
</script>
